transformers==4.27.2
torch==2.0.0
datasets==2.9.0
tokenizers==0.13.2
deepspeed==0.9.2
evaluate==0.4.0
python-dotenv==1.0.0
peft==0.3.0
wandb==0.15.1
sentencepiece==0.1.97
rouge-score==0.1.2
accelerate==0.17.1